* {
    font-family: 'Atkinson Hyperlegible', sans-serif;
}
body {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: .05fr 0.5fr 3fr;
    width: 100vw;
    margin: 0;
    height: 100vh;
}
.header {
    background-color: white;
    grid-column: 2 / 3;
    grid-row: 1;
    display: grid;
    grid-template-rows: 0.5fr 1fr;
    border-bottom: 4px solid rgba(105, 105, 105, 0.4);
}
.topheader {
    display: grid;
    grid-template-columns: 1fr 6.5fr 2fr 0.5fr 0.5fr 1fr;
    justify-items: center;
        align-items: center;
        padding: 0;
        margin: 0;
        grid-template-areas: "fs sb . be pp un";
        gap: 5px;
}
.profilePicTop {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: 1px solid black;
    justify-self: center;
    grid-area: pp;
    background-color: cyan;
}
.search-bar {
    height: 20px;
     width: 70%;
    border-radius: 25px;
    background-color: lightgrey;
    justify-self: start;
    grid-area: sb;
}
.fa-bell {
    justify-self: end;
    grid-area: be;
}

.username {
    font-size: medium;
    font-weight: bold;
    margin: 0;
    justify-self: start;
    grid-area: un;
}
fa-search {
    grid-area: fs;
}
.headerBottom {
    display: grid;
    grid-template-columns:  0.3fr 2fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.profilePicBottom {
    width: 50px;
    height: 50px;
    justify-self: end;
    border: 1px solid black;
    border-radius: 50%;
    background-color: cyan;
}
.topText {
    font-weight: bold;
    justify-self: start;
}
.hello {
    font-size: small;
}
.userAt {
    font-size: medium;
}
.buttons {
    display: flex;
    justify-content: space-evenly;
}
.headerbutton {
    background-color: #fbcfe8;
    border: none;
    border-radius: 25px;
    font-size: 15px;
    padding: 10px;
}
.sidebar {
    background-color: #fbcfe8;
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 0.3fr repeat(2, 1fr);
    gap: 20px;
}
.link {
    text-decoration: none;
    color: black;
    font-size: large;
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: 30px;
}
.link:visited {
    text-decoration: none;
    color: black;
}
.linkGroup:hover {
    color: hotpink;
}
.material-symbols-outlined {
    font-size: larger;
    
}
.linkGroup {
display: grid;
grid-template-columns: 0.5fr 3fr;
}
.main-content {
    background-color: lightgrey;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    padding: 10px;
}
.projects {
    grid-column: 1;
    grid-row: 1 / -1;
}
.announcement {
    grid-column: 2;
    grid-row: 1;
}
.trending {
    grid-column: 2;
    grid-row: 2;
}
.trendingPp {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: 1px solid black; 
}

